
@media screen and (min-width:1025px){    
div {
    border: 1px solid black;
    box-sizing: border-box;
}

.a{
      
    background-color: #125083;
   

}

.b{
   
    background-color: #89b4d6;
    

}

.c{
   
    background-color: #769ab8;
   

}

.d{background-color: lightskyblue;}
.e{
  
    background-color: #3e5161;
   
}
.f{background-color: #242f38;}

.g{background-color: #736966 ;}
.h{background-color: lightslategrey;}
.i{
   
    background-color: gray;
  
}

}

@media screen  and (min-width: 768px) and (max-width: 1024px) {
    div {
        border: 1px solid rgb(44, 3, 37);
        box-sizing: border-box;
    }
    
    .a{
      
        background-color: #663d56;
       
    
    }
    
    .b{
       
        background-color: #2f0144;
        
    
    }
    
    .c{
       
        background-color: #080007;
       
    
    }
    
    .d{background-color: #831241 ;}
    .e{
      
        background-color: #eb1bac;
       
    }
    .f{background-color: #242f38;}

    .g{background-color: #f0b0ce ;}
    .h{background-color: wheat;}
    .i{
       
        background-color:#f80476;
      
    }

}




@media screen and (max-width:767px){
    div {
        border: 1px solid black;
        box-sizing: border-box;
    }
    
    .a{
      
        background-color: #831241;
       
    
    }
    
    .b{
       
        background-color: #d48b61;
        
    
    }
    
    .c{
       
        background-color: #522a30;
       
    
    }
    
    .d{background-color: rgb(85, 30, 33);}
    .e{
      
        background-color: #eb1bac;
       
    }
    .f{background-color: #c55910;}

    .g{background-color: #f0b0ce ;}
    .h{background-color: rgb(250, 2, 138);}
    .i{
       
        background-color: rgb(138, 68, 3);
      
    }

}

   


